# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Force 2189 Version
set sv_enforceGameBuild 2372

# MariaDB Connection Database EXAMPLE -> "mysql://root@127.0.0.1/qb-core?charset=utf8mb4"
#set database_driver "mysql-async"

set mysql_connection_string "CHANGE_ME"
set mysql_slow_query_warning 100

stop webadmin


# Main Game Resources
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure baseevents
#ensure scoreboard

# Add permission for es_extended to execute ACL commands
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_ace allow
add_ace resource.es_extended command.list_aces allow
add_ace resource.es_extended command.list_principals allow
add_ace resource.es_extended command.remove_aces_for_object allow

# Essential Recources
ensure node-mysql2
ensure oxmysql
ensure ghmattimysql

ensure mysql-async
ensure async
ensure cron
ensure skinchanger

# ESX Framework
ensure es_extended
# ESX Recources
#ensure new_banking
#ensure cui_character

# Map Recources
ensure bob74_ipl-2.0.10a
ensure ipls_resource
ensure Frm_Perico_Shops
ensure Modz_Gasstation
ensure op_motel_01
ensure zr_pdm_ext
ensure breze-cayoperico-vehicles
ensure UnloadNorthYankton

# Model Recources
ensure PLOKS_CARS

# Scripts
ensure kgv-phone
ensure VehicleSpawner
ensure vehcontrol
ensure SexySpeedometer
#ensure mMenu
ensure seatbelt


ensure giveweapons
ensure breze_benefactor
ensure dpemotes
ensure interact-sound
ensure menuv
ensure mhacking
# Loadscreen
ensure PolyZone
ensure prison_canteen
ensure prison_main
ensure prison_meeting
ensure hospital_map
ensure progressbar
ensure loadscreen

ensure connectqueue
ensure LegacyFuel
ensure warmenu

# QBCore Core Resources
ensure qb-core
ensure qb-logs
ensure qb-multicharacter
ensure qb-spawn
ensure qb-inventory
ensure qb-hud
ensure qb-weapons
ensure qb-garages
ensure qb-smallresources

# # QBCore resources
ensure qb-admin
ensure qb-afk
ensure qb-ambulancejob
ensure qb-anticheat
ensure qb-apartments
ensure qb-banking
ensure qb-bankrobbery
ensure qb-blackjack
ensure qb-bossmenu
ensure qb-builderjob
#ensure qb-busjob -- Currently Broken
ensure qb-carwash
ensure qb-casino
ensure qb-cityhall
ensure qb-clothing
ensure qb-coke
ensure qb-commandbinding
ensure qb-companies
ensure qb-crafting
ensure qb-crypto
ensure qb-customs
ensure qb-diving
ensure qb-doorlock
ensure qb-drugs
ensure qb-fitbit
ensure qb-gangs
ensure qb-garages
ensure qb-garbagejob
ensure qb-hotdogjob
ensure qb-houserobbery
ensure qb-houses
ensure qb-hud
ensure qb-ifruitstore
ensure qb-interior
ensure qb-jewelery
ensure qb-keyminigame
ensure qb-lapraces
ensure qb-lawyerjob
ensure qb-lockpick
ensure qb-mechanicjob
ensure qb-methlab
ensure qb-moneysafe
ensure qb-newsjob
ensure qb-oxyrun
ensure qb-pawnshop
ensure qb-phone
ensure qb-ping
ensure qb-policejob
#ensure qb-printer -- Currently Broken
ensure qb-radialmenu
ensure qb-recyclejob
ensure qb-scoreboard
ensure qb-scrapyard
ensure qb-shops
ensure qb-skillbar
ensure qb-storerobbery
ensure qb-streetraces
ensure qb-taxijob
ensure qb-towjob
ensure qb-traphouse
ensure qb-truckerjob
ensure qb-truckrobbery
ensure qb-tunerchip
ensure qb-vehiclefailure
ensure qb-vehiclekeys
ensure qb-vehiclepush
ensure qb-vehiclesales
ensure qb-vehicleshop
ensure qb-vineyard
ensure qb-weathersync
ensure qb-weed


# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# change this
rcon_password CHANGE_ME

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "CHANGE_ME"
sets banner_connecting "CHANGE_ME"

# Uncomment this line if you do not want your server to be listed in the server browser
# Do not edit it if you *do* want your server listed
#sv_master1 ""


# Loading a server icon (96x96 PNG file)
load_server_icon icon.png

# Set your server's hostname
sv_hostname "CHANGE_ME"
sets sv_projectName "CHANGE_ME"
sets sv_projectDesc "CHANGE_ME"

sets tags "roleplay"

# Server's License Key
sv_licenseKey CHANGE_ME



# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey CHANGE_ME